<!-- Top Bar -->
<section id="top-bar" class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4" style="color: #03396c;"><i class="fas fa-phone" style="color: #03396c"></i> <a href="tel:+00411 094 249 " style="color: #03396c;">0411094249 </a></div>
      <div class="col-md-4" style="color: #03396c;">
        <a href="mailto:Khush@baileydevine.com.au" style="color: #03396c;">
          <i class="fas fa-envelope-open"></i> Khush@baileydevine.com.au
        </a>
      </div>
      <div class="col-md-4">
        <div class="social text-right" style="text-align: right;">
          <ul style="list-style-type: none; padding: 3px; margin: 0;">
            <li style="display: inline-block; margin-right: 5px;">
                <a href="https://www.facebook.com/khushmongappre/" style="text-decoration: none; display: block; width: 40px; height: 40px; border-radius: 50%; text-align: center; line-height: 40px; background: #3B5998; color: #fff;">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
            <li style="display: inline-block; margin-right: 5px;">
                <a href="https://www.youtube.com/@teammongappre-new4252" style="text-decoration: none; display: block; width: 40px; height: 40px; border-radius: 50%; text-align: center; line-height: 40px; background: #FF0000; color: #fff;">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
            <li style="display: inline-block;">
                <a href="https://www.instagram.com/teammonga.sales/" style="text-decoration: none; display: block; width: 40px; height: 40px; border-radius: 50%; text-align: center; line-height: 40px; background: #B7242A; color: #fff;">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
          
        </ul>
        </div>
      </div>
    </div>
  </div>
</section>

