{% extends "admin/change_list.html" %}

{% block result_list %}
  <table id="result_list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Listing</th>
        <th>Contact Date</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in result_list %}
        <tr class="{% cycle 'row1' 'row2' %}">
          <td>{{ obj.name }}</td>
          <td>{{ obj.email }}</td>
          <td>{{ obj.listing }}</td>
          <td>{{ obj.contact_date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
