<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Listing Alert!: {{ listing.address }}</title>
</head>
<body>
    <h2>New Listing Alert!: {{ listing.address }}</h2>
    <p>Hi</p>
    <p>New Property Sale Alert! Premium home and land packages also available at <strong>{{ listing.address }}</strong>. Seize this fantastic opportunity to build your dream home in a thriving community.</p>
    <p>Visit <a href="https://khushmonga.com/listings/">khushmonga.com/listings/</a> for more details.</p>
    <p>Don't miss out on this exciting opportunity to make your property dreams a reality. Explore our new listing today!</p>
    <p>Warm regards,</p>
    <p>Khush Monga</p>
    <p>Sales Associate</p>
    <br>
    
</body>
</html>